body {
	background-color: #f8f8f8;
}
.row h3 {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;

}
.container .row  .thanh {
	background-color: #fff;
	height: 3px;
    width: 100%;
    background-position-x: -30px;
    background-size: 116px 3px;
    background-image: repeating-linear-gradient(45deg,#6fa6d6,#6fa6d6 33px,transparent 0,transparent 41px,#f18d9b 0,#f18d9b 74px,transparent 0,transparent 82px);
}
.container .row .col-md-5 {
	background-color: #fff;
}
.container .row .col-md-7 .container .thanhtoan {
	width: 100%;
	height: 250px;
	background: #fffdf8;
}
.container .row .col-md-7 .container .thanhtoan  p{
	margin-top: 4%;
    margin-left: 5px;
	font-size: 14px;
	color: #000;
	line-height: 15px;
}
.container .row .col-md-7 .container .thanhtoan{
    margin-top: 19px;
    margin-right: 32px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.wrapper{
  margin: 0px auto;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  width: 450px;
  background: #fff;
  padding: 30px;
  height: 410px;
}
.wrapper .input-data{
  height: 40px;
  width: 100%;
  position: relative;
  margin-top: 24px;
}
.wrapper .input-data input{
  outline: none;
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
}
.wrapper .input-data textarea{
	max-height: 120px;
  display: block;
  width: 100%;
  border: 0;
  padding: 10px 5px;
  background: white no-repeat;
  background-image: linear-gradient(to bottom, #000, #000), linear-gradient(to bottom, silver, silver);
  background-size: 0 2px, 100% 1px;
  background-position: 50% 100%, 50% 100%;
  transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}
.input-data input:focus ~ label,
.input-data input:valid ~ label{
  transform: translateY(-20px);
  font-size: 15px;
  color: #000;
}
.input-data textarea:focus ~ label,
.input-data textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 15px;
  color: #000;
}
.wrapper .input-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}
.input-data .underline{
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #000;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before{
  transform: scaleX(1);
}

.wrapper .input-data textarea:focus{
  background-size: 100% 2px, 100% 1px;
  outline: none;
}
