/** {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Open Sans' sans-serif;
}
body {
	line-height: 1.5;
}*/
.carrt-wrapper {
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
}
 img {
	width: 555px;
	
	display: block;
}
.img-display1 {
	overflow: hidden;
}
.img-show1 {
	display: flex;
	width: 100%;
	transition: all 0.5s ease;
}
.img-show1 img {
	min-width: 100%;
}
.product-content1 {
	padding:  2rem 1rem;
	margin-left: 70px;
}
.product-title1 {
	font-size: 3rem;	
	text-transform: capitalize;
	font-weight: 700;
	position: relative;
	color: #12263a;
	margin: 1rem 0;
}
.product-title1::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 4px;
	width: 80px;
	background: #12263a;
}
.product-rating {
	color: #ffc107;
}
.product-rating span {
	font-weight: 600;
	color: #252525;
}
.product-price1 {
	margin: 1rem 0;
	font-size: 1rem;
	font-weight: 700;
}
.product-price1 span {
	font-weight: 400;
}
.last-price {
	color: #f64749;
	text-decoration: line-through;
}
.new-price span {
	color: #256eff;
}
.product-detail1 h2{
	text-transform: capitalize;
	color: #12263a;
	padding-bottom: 0.6rem;

}
.product-detail1 p {
	font-size: 0.9rem;
	padding: 0.3rem;
	opacity: 0.8;
}
.product-detail1 ul {
	margin: 1rem 0;
	font-size: 0.9rem;
}
.product-detail1 ul li{
    margin: 0;
    list-style: none;
    background: url(../cart/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail1 ul li span{
    font-weight: 400;
}
.purchase-info1{
    margin: 1.5rem 0;
}
.purchase-info1 input,
.purchase-info1 .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info1 input{
    width: 90px;
}
.purchase-info1 .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info1 .btn:first-of-type{
    background: #256eff;
}
.purchase-info1 .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links1{
    display: flex;
    align-items: center;
}
.social-links1 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links1 a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}
/*@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}*/
.img-show1 img {
	max-width: 100%; 
	height: auto;
	transform-origin: 65% 75%;
	transition: transform 1s, filter 0.5s ease-in-out;
}
.img-show11 {
	width: 100%;
	height: 593.4px;
	overflow: hidden;
	transition: ease-in 0.5 all;
	position: relative;
}
.img-show1 > img:hover {
	transform: scale(1.3);
}
.img-show1:hover::before {
	content: "";
	/*background-color: rgba(0, 0, 0, 0.2);*/
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
}