footer {
	bottom: 0px;
	width: 100%;
	background: #151515;
	color: #fff;
	margin: 0;
	padding: 0;
	font-family: 'poppins' ,sans-serif;
	box-sizing: border-box;	
}
.main-content {
	display: flex;
	color: #000;
}
.main-content .box {
	flex-basis: 50%;
	padding: 10px 20px;
	color: #fff;
}
.box h2{
	font-size: 1.125rem;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
}
.box .content {
	margin: 20px 0 0 0;
	position: relative;
	color: #fff;
}
.box .content:before{
	position: absolute;
	content: '';
	top: -10px;
	height: 2px;
	width: 100%;
	background: #1a1a1a;
}
.box .content:after{
	position: absolute;
	content: '';
	height: 2px;
	width: 15%;
	background: #f12020;
	top: -10px;
	
}
.left .content {
	text-align: justify;
	color: #fff;
}
.left .content .social {
	margin: 20px 0 0 0;
}
.left .content .social a {
	padding: 0 20px;
	color: #fff;
}
.left .content .social a span {
	height: 40px;
	width: 40px;
	background: #1a1a1a;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	transition: 0.3s;
}
.left .content .social a span:hover {
	background:  #f12020;
}
.center .content .fas {
	font-size: 1.4375rem;
	background: #1a1a1a;
	height: 45px;
	width: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	transition: 0.3s;
	cursor: pointer;
    color: #fff;
}
.center .content .fas:hover {
	background: #f12020; 	
}
.center .content .text {
	font-size: 1.0625rem;
	font-weight: 500;
	padding-left: 10px;
}
.center .content .phone {
	margin: 10px 0;
}
 .content-ul {
	display: flex;
    
}
.content-ul ul li {
	color: #fff;
}
.bottom center{
	padding: 5px;
	font-size: 0.9375rem;
	background: #151515;
}
.bottom center span{
	color: #656565;
}
.bottom center a {
	color: #f12020;
	text-decoration: none;
}
.bottom center a:hover{
	text-decoration: underline;
}


